name: Flutter CI

on: [pull_request]

jobs:
  analyze_and_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: "3.35.5"
          cache: true

      - name: Flutter pub get
        run: flutter pub get

      - name: Settings
        run: |
          cp .env.example .env

      - name: Run static analysis
        run: flutter analyze

      - name: Run unit tests
        run: flutter test
